/* --- Global Styles --- */
* {
    font-family: 'SF Pro Text', 'Inter', 'Segoe UI, NotoSans Nerd Font', sans-serif;
    font-size: 20px;
    min-height: 0;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    color: #ffffff;
}

#waybar {
    background: rgba(0,0,0,1);
    margin: 0px;
    font-weight: 500;
}

/* Left modules */
#workspaces,
#custom-uptime,
#memory,
#cpu {
    background-color: #000000;
    padding: 0.3rem 0.7rem;
    margin: 5px 0px; /* 5px top/bottom margin, 0px left/right (base for individual control) */
    border-radius: 6px; /* These modules are always rounded */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    min-width: 0;
    border: none;
}

#workspaces {
    padding: 2px;
    margin-left: 7px; /* Margin from the far left edge */
    margin-right: 5px; /* Spacing after the workspaces module */
}

#memory:hover,
#cpu:hover {
  background-color: rgb(41, 42, 53); /* Brighter highlight */
}

#workspaces button {
  color: #babbf1;
  border-radius: 5px; /* Workspaces buttons are always rounded */
  padding: 0.3rem 0.6rem;
  background: transparent;
  border: none;
  outline: none;
}

#workspaces button.active {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.15);

}

#workspaces button:hover {
  background: rgb(41, 42, 53); /* Reference bright hover color */
  color: #c6d0f5;
}

/* Center modules */
#clock {
    background-color: transparent;
    padding: 0.3rem 0.7rem;
    margin: 5px 0px;
    min-width: 0;
}

/* Right modules */
#bluetooth,
#pulseaudio,
#custom-lock,
#network {
  padding: 0.3rem 0.7rem;
  margin: 5px 0px; 
  border-radius: 0;
  box-shadow: none;
  min-width: 0;
  border: none;
}

#bluetooth:hover,
#pulseaudio:hover,
#backlight:hover,
#network:hover,
#custom-lock:hover,
#battery:hover {
  background-color: rgb(41, 42, 53);
}

#bluetooth {
  margin-left: 0px; 
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

#network.disconnected {
  color: #e78284;
}

#bluetooth {
  color: #888888;
  font-size: 16px;
}
#bluetooth.on {
  color: #5394fc;
}
#bluetooth.connected {
  color: #5394fc;
}


