* {
    font-family: "Jetbrains Mono";
    font-size: 15px;
    color: #eceff4;
}

#waybar {
    background: #2e3440; 
    border: 3px solid #88c0d0;
}

.modules-right {
     padding-right: 15px;
}


#workspaces button {
    margin: 7px;
    border-radius: 0px;

}

#cpu {
    color: #ebcb8b;
} 

#memory {
    color: #b48ead;
}

#bluetooth {
    color: #a3be8c;
}



#workspaces button.active {
    background: rgba(255, 255, 255, 0.2)
}




