@define-color bg #161616;
@define-color fg #f2f4f8;
@define-color blue #78a9ff;
@define-color magenta #be95ff;
@define-color cyan #33b1ff;
@define-color green #25be6a;

* {
    font-family: "JetBrains Mono Nerd Font", sans-serif;
    font-size: 15px;
    border: none;
    border-radius: 0;
}

window#waybar {
    background: @bg;
    color: @fg;
}

#workspaces button {
    color: @fg;
    padding: 0 5px;
}

#workspaces button.active {
    background: @cyan;
}

#workspaces button.empty {
    color: #383838;
}

.modules-right > widget > label,
.modules-right > widget > box {
    margin-left: 5px;   /* Väli vasemmalle */
    margin-right: 5px;  /* Väli oikealle */
}

#clock {
    color: @fg;
    font-weight: bold;
}

#pulseaudio { color: @fg; }
#network { color: @green; }
#battery { color: @cyan; }
